* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* for dashboard */

#grid-user {
  position: relative;
  left: 0;
  display: none;
  background-image: linear-gradient(to bottom right,
      rgb(107, 51, 160),
      rgb(155, 85, 85));

  width: 200px;
  z-index: 1;
  overflow: auto;
}

#grid-user::-webkit-scrollbar {
  width: 10px;
}

#dashboard_name {
  font-size: 20px;
  color: white;
  font-style: italic;
  font-weight: 600;
  text-shadow: 0px 0px 10px white;
}

#admin_name {
  border: 2px solid black;
  margin-top: 20px;
  font-size: 25px;
  color: rgb(175, 220, 25);
  font-weight: 600;
  text-shadow: 0px 0px 10px rgb(175, 220, 25);
}

#admin_title {
  border: 2px solid black;
  font-size: 20px;
  color: rgb(27, 164, 232);
  font-weight: 600;
  text-shadow: 0px 0px 10px rgb(27, 164, 232);
}

#admin_image {
  border-radius: 50%;
  box-shadow: 0px 0px 10px 5px rgb(232, 237, 237);
}

#grid-user>div {
  padding: 10px;
  text-align: center;
}

#elements>div {
  margin-top: 10px;
  font-size: 15px;
}

#elements>div a {
  color: white;
  text-decoration: none;
}

#elements>div a:hover {
  color: black;
  font-weight: 600;
  text-decoration: none;
  margin-left: 1px;
  text-shadow: 0px 0px 10px white;
}

#grid-right {
  width: 96rem;
  position: absolute;
}

#user_pic {
  display: flex;
  flex-direction: column;
}

#grid-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: left;
  overflow: hidden;
}

.form-inline {
  margin-left: 74.5rem;
}

#profile {
  height: 70px;
  width: 100%;
}

#Dashboard_titles {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: left;
  clear: both;
  padding: 20px;
  box-shadow: 0px 0px 20px 0px gray;
}

#Dashboard_titles>div {
  margin-left: 30px;
  font-size: 20px;
  height: 20px;
}

#title_image {
  grid-row-start: 1;
  grid-row-end: 3;
  margin-bottom: 0px 0px 10px 10px gray;
}

#title_image img {
  height: 70px;
}

#dash_title {
  margin-left: 23px;
  font-size: 25px;
  font-weight: 600;
}

#dashboard_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 30px;
  gap: 10px 10px;
  text-align: center;
  height: 500px;
}

#dashboard_container>div {
  background-color: rgb(122, 215, 160);
  padding: 20px;
  height: 180px;
  width: 300px;
  border-radius: 5px;
}

#container-grid {
  display: grid;
  grid-template-columns: auto auto;
}

.content {
  height: 60px;
}

.names {
  font-size: 25px;
  text-align: center;
  font-weight: 600;
  color: rgb(207, 35, 144);
  margin-top: 10px;
}

.totals {
  font-size: 70px;
  padding: 10px;
  font-weight: bold;
  color: rgb(196, 58, 37);
  font-style: italic;
}

/* for patients */
#grid-patient {
  background-image: linear-gradient(to bottom right,
      rgb(107, 51, 160),
      rgb(155, 85, 85));
  height: 100%;
  width: 200px;
}

#grid-patient>div {
  padding: 10px;
  text-align: center;
}

#patient_titles {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: left;
  clear: both;
  padding: 20px;
  box-shadow: 0px 0px 20px 0px gray;
}

#patient_titles>div {
  margin-left: 30px;
  font-size: 20px;
  height: 20px;
}

#title_image_patient {
  grid-row-start: 1;
  grid-row-end: 3;
  margin-bottom: 0px 0px 10px 10px gray;
}

#title_image_patient img {
  height: 70px;
}

.dash-title_patient {
  font-size: 25px;
  font-weight: 600;
}

#tables {
  margin-top: 30px;
  height: 500px;
  overflow: auto;
}

#tables td {
  position: relative;
  top: 4px;
}


#tables td p {
  width: 100px;
}

.status {
  width: 100px;
}

.status p {
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(0, 255, 4);
  color: black;
  padding: 5px;
  width: 70px;
  border-radius: 20%;
}

.pencil,
.trash {
  border: none;
  border-radius: 20%;
  cursor: pointer;
}

.pencil img,
.trash img {
  border: none;
  height: 40px;
}

.pencil {
  background-color: rgb(30, 219, 30);
}

.trash {
  background-color: rgb(255, 0, 0);
  margin-left: 20px;
}

.pencil:hover {
  background-color: rgb(17, 0, 255);
}

.trash:hover {
  background-color: rgb(17, 0, 255);
}

.td-image {
  border-radius: 50%;
  height: 60px;
}

.td-font {
  font-size: 25px;
}

.ids {
  font-size: 25px;
}

/* appointment */

.appointment_id {
  font-size: 30px;
}

.file {
  background-color: rgb(30, 219, 30);
  border: none;
  border-radius: 20%;
  cursor: pointer;
}

.file img {
  border: none;
  height: 40px;
}

.file:hover {
  background-color: red;
}

/* appointment doctor selection */

#add_appointment {
  background-color: rgba(153, 153, 153, 0.425);
  margin-top: 50px;
  margin-bottom: 40px;
  width: 90%;
  margin-left: 60px;
  outline-width: 20px;
  outline-color: rgb(209, 49, 124);
  outline-style: double;
  padding: 30px;
  border-radius: 10%;
}

#directInfo_added {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px 20px;
}

#directInfo_added div {
  grid-column-start: 1;
  grid-column-end: 3;
}

#directInfo_added div img {
  margin-left: 36rem;
}

#directInfo_added h2 {
  margin-left: 6rem;
}

#directInfo_added p {
  margin-top: 30px;
  margin-left: 4rem;
  width: 500px;
  font-size: 20px;
  font-weight: 600;
}

#form-grid {
  display: grid;
  grid-template-columns: auto auto;
  padding: 30px;
  justify-content: space-around;
}

.select {
  width: 12.6rem;
}


.select input[type="text"] {
  position: absolute;
  padding: 7px;
  cursor: pointer;
}

.select input[type="text"]::placeholder {
  color: black;
  font-size: 18px;
}

#datetime-local {
  padding: 7px;
}

.custom-select,
#datetime-local,#bed {
  height: 50px;
}

.selected:focus,
#datetime-local:focus{
  outline: none;
  border: none;
  box-shadow: 0px 0px 10px 5px aqua;
}

.textArea {
  width: 600px;
  margin-left: 22rem;
}

.textArea label{
  font-weight: 600;
  font-size: 20px;
}

.textArea textarea {
  height: 200px;
  resize: none;
}

#submit {
  width: 200px;
  border-radius: 20%;
  border: none;
  margin-left: 34rem;
  margin-top: 3rem;
  font-size: 20px;
  color: white;
  font-style: italic;
  font-weight: 600;
}

#submit:hover {
  box-shadow: 0px 0px 10px 5px aqua;
}

/* department */
#department {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 20px;
  gap: 10px 10px;
  height: 500px;
  overflow: auto;
}

#department>div {
  text-align: center;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 5px inset rgb(13, 214, 191);
  overflow: hidden;
  height: 350px;
}

.department-doc img {
  height: 200px;
  width: 100%;
  transition-property: transform;
  transition-duration: 2s;
  transition-timing-function: ease;
}

.department-doc img:hover {
  transform: scale(1.2);
}

.department-doc p {
  color: red;
  font-weight: 600;
  font-size: 30px;
  font-style: italic;
  margin-top: 20px;
}

.department-doc button {
  padding: 5px;
  border: none;
  border-radius: 10px;
  outline-width: 5px;
  outline-color: rgba(103, 202, 96, 0.758);
  outline-style: solid;
  background-image: linear-gradient(to top right,
      rgb(150, 49, 154),
      rgb(75, 184, 201));
  color: white;
  font-size: 20px;
}

.department-doc button:hover {
  outline-color: yellow;
  outline-style: solid;
  background-image: linear-gradient(to right top,
      rgb(0, 255, 102),
      rgb(25, 0, 255));
}

/* department staff */

.modal-header {
  margin-left: 170px;
}

.modal-title {
  font-weight: 600;
  font-style: italic;
  color: rgb(153, 51, 143);
}

.btn {
  margin-right: 100px;
}

#dep-add-img {
  margin-left: 100px;
}

#dep-staff {
  padding: 3px;
}

#dep-staff,
#dep-staff option {
  color: #0077ff;
  font-style: italic;
  font-weight: bold;
  background-color: rgb(108, 226, 151);
}

#dep-add-img label {
  font-size: 20px;
  color: rebeccapurple;
  font-weight: 600;
  font-style: italic;
}

#dep-img {
  height: 70px;
  border-radius: 50%;
  margin-left: 50px;
  color: blue;
}

#staff-container {
  margin-top: 30px;
  padding: 10px;
  margin-left: 30px;
  margin-bottom: 30px;
}

#staff {
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: rgb(0, 255, 4);
  color: navy;
  font-weight: 600;
  box-shadow: 0px 5px 0px 5px gray;
}

#staff:active {
  border: none;
  outline: none;
  box-shadow: 0px 0px 0px 5px gray;
}

#staff:focus {
  outline-color: rgb(0, 255, 4);
}

#dep-name {
  margin-left: 30px;
  margin-top: 30px;
}

#dep-name label {
  font-size: 20px;
  font-weight: 600;
  font-style: oblique;
  color: rebeccapurple;
}

#dep-name select {
  width: 150px;
  margin-left: 10px;
}

#dep-name select:focus {
  width: 150px;
  box-shadow: 0px 0px 5px 3px aqua;
  outline-color: white;
}

#dep-img-file {
  margin-top: 10px;
  border: 2px solid gray;
  color: rebeccapurple;
  font-weight: 600;
  font-style: italic;
}

.staff-label {
  margin-left: 100px;
  margin-top: 10px;
}

.staff-label input::placeholder {
  color: #ff0000;
}

.staff-label label {
  font-size: 20px;
  color: rebeccapurple;
  font-weight: 600;
  font-style: italic;
}

.staff-label input {
  color: #0077ff;
  font-style: oblique;
  font-weight: 600;
  width: 240px;
}

#staff-input-text {
  margin-left: 5px;
}

#staff-input-email {
  margin-left: 10px;
}

#staff-input-age {
  margin-left: 20px;
}

#staff-input-text:focus,
#staff-input-email:focus,
#staff-input-age:focus,
#staff-input-phone:focus {
  box-shadow: 0px 0px 5px 3px aqua;
  outline-color: white;
}

/* settings */

#setting-heading {
  font-style: italic;
  font-size: 50px;
  font-weight: bold;
  margin-left: 330px;
  margin-bottom: 20px;
  color: darkred;
  text-shadow: 5px 10px 10px gray;
}

#settings {
  margin-top: 20px;
  margin-left: 170px;
  margin-bottom: 30px;
  gap: 10px 10px;
  justify-content: center;
  padding: 40px;
  border-radius: 10px;
  outline-color: deeppink;
  outline-style: double;
  outline-width: 10px;
  width: 60rem;
}

/*  background-color: rgba(57, 55, 55, 0.929); use this to change background color     */

#setting-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px 20px;
  margin-top: 30px;
}

.setting-form label {
  font-size: 20px;
  font-weight: bold;
  font-style: oblique;
  color: rgb(93, 0, 139);
}

.setting-form::placeholder {
  color: rgb(43, 0, 255);
}

#profile-image label {
  margin-left: 250px;
  font-size: 25px;
  color: rgb(255, 0, 183);
  font-weight: 600;
}

#profile-image img {
  border-radius: 20px;
  margin-left: 40px;
  margin-top: 20px;
  border: 2px solid black;
}

#profile-image input[type="file"] {
  margin-top: 30px;
  margin-left: 220px;
  padding: 5px;
  color: #ff00b7;
  border: 2px solid gray;
  border-radius: 5px;
  width: 25rem;
}

#add {
  width: 300px;
  font-size: 20px;
  margin-left: 270px;
  margin-top: 20px;
  font-weight: 500;
  background-color: dodgerblue;
  color: white;
}

/* footer */
#footer {
  margin-top: 30px;
  text-align: center;
  background-image: linear-gradient(to top right,
      rgb(165, 59, 145),
      rgb(51, 43, 167));
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
}